<footer class="ame-footer row">
    <div class="ame-footer__content row">
        <div class="container ame-footer__container">
            <div class="row row-space-between"><a class="grid-3 ame-footer__logo-ame-link" href="/"><img
                        src="./assets/img/logo-light-min.png" alt="Ame" class="ame-footer__logo-ame"></a>
                <div class="grid-5">
                    <div class="row">
                        <h2 class="ame-footer__text grid-12">Baixe o app.</h2>
                        <div class="row row-space-between row-with-margin ame-download-app">
                            <div class="grid-5"><img src="./assets/img/qrcode-light-min.png" alt="QR Code"
                                    class="row ame-download-app__logo-qrcode--small"></div>
                            <div class="grid-7 ame-download-app__items ame-download-app__items--small"><a
                                    class="ame-download-app__link-google-play--small" href="http://usea.me/downloadapp"
                                    target="_blank"><img src="./assets/img/google-play-light-min.png" alt="Google Play"
                                        class="ame-download-app__logo-google-play--small"></a><a
                                    class="ame-download-app__link-app-store" href="http://usea.me/downloadapp"
                                    target="_blank"><img src="./assets/img/app-store-light-min.png" alt="App Store"
                                        class="ame-download-app__logo-app-store--small"></a></div>
                        </div>
                    </div>
                </div>
                <div class="grid-3">
                    <div class="ame-social-media row"><a class="grid-6 ame-social-media__link" target="_blank"
                            href="https://www.facebook.com/useamedigital/"><img
                                src="./assets/img/facebook-light-min.png" alt="Facebook"
                                class="ame-social-media__image"></a><a class="grid-6 ame-social-media__link"
                            target="_blank" href="https://www.instagram.com/useamedigital/"><img
                                src="./assets/img/instagram-light-min.png" alt="Instagram"
                                class="ame-social-media__image"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ame-footer__copyright-row">
        <div class="container ame-footer__copyright-container">
            <div class="row">
                <div class="grid-2"><a href="/termos" class="ame-footer__copyright-terms-link">Termos e condições</a>
                </div>
                <p class="ame-footer__copyright-text grid-5">2018 Ame Digital. <span
                        class="ame-footer__copyright__breakline"></span>Todos os direitos reservados.</p>
                <div class="grid-5 ame-footer__menu-grid">
                    <div class="ame-menu-container">
                        <nav class="ame-menu ame-footer__menu">
                            <div class="ame-menu__burger--small">
                                <div class="ame-menu__burger__line-1"></div>
                                <div class="ame-menu__burger__line-2"></div>
                                <div class="ame-menu__burger__line-3"></div>
                            </div>
                            <ul class="ame-menu__list ame-menu__list--small">
                                <li class="ame-menu__item ame-menu__item--small"><a href="/#baixe"
                                        title="Baixe">Baixe</a></li>
                                <li class="ame-menu__item ame-menu__item--small"><a href="/#quem-somos"
                                        title="Quem somos">Quem
                                        somos</a></li>
                                <li class="ame-menu__item ame-menu__item--small"><a href="/#use-ame"
                                        title="Como funciona">Como
                                        funciona</a></li>
                                <li class="ame-menu__item ame-menu__item--small"><a href="/#lojas-parceiras"
                                        title="Lojas parceiras">Lojas parceiras</a></li>
                                <li class="ame-menu__item ame-menu__item--small"><a href="/duvidas"
                                        title="Dúvidas">Dúvidas</a></li>
                                <li class="ame-menu__item ame-menu__item--small"><a
                                        href="https://www.amedigital.com/sobre" title="Trabalhe com a gente"
                                        target="blank">Trabalhe com a gente</a></li>
                                <li class="ame-menu__item ame-menu__item--small"><a class="rose-button" href="/ame-plus"
                                        title="Quero vender com Ame">Quero vender com Ame</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ame-footer__copyright-address">
        <div class="container">
            <div class="row">
                <div class="grid-12">
                    <p>AME DIGITAL BRASIL LTDA / CNPJ: 32.778.350/0001-70 / Endereço Rua Fidêncio Ramos, 302, torre B,
                        9°
                        andar - São Paulo, SP - 04551-010 / Atendimento: 4003-2120 </p>
                </div>
            </div>
        </div>
    </div>
</footer>