<header class="ame-header-content row">
    <div class="ame-header container"><a class="ame-logo__link grid-5" routerLink="/"><img src="./assets/img/logo-min.png"
                alt="Ame" class="ame-logo__image "></a>
        <div class="ame-menu-container">
            <nav class="ame-menu grid-7">
                <div class="ame-menu__burger">
                    <div class="ame-menu__burger__line-1"></div>
                    <div class="ame-menu__burger__line-2"></div>
                    <div class="ame-menu__burger__line-3"></div>
                </div>
                <ul class="ame-menu__list">
                    <li class="ame-menu__item"><a routerLink="/" fragment="baixe" title="Baixe">Baixe</a></li>
                    <li class="ame-menu__item"><a routerLink="/" fragment="quem-somos" title="Quem somos">Quem somos</a></li>
                    <li class="ame-menu__item"><a routerLink="/" fragment="use-ame" title="Como funciona">Como funciona</a></li>
                    <li class="ame-menu__item"><a routerLink="/" fragment="lojas-parceiras" title="Lojas parceiras">Lojas parceiras</a>
                    </li>
                    <li class="ame-menu__item"><a routerLink="/duvidas" title="Dúvidas">Dúvidas</a></li>
                    <li class="ame-menu__item"><a href="https://www.amedigital.com/sobre" title="Trabalhe com a gente"
                            target="blank">Trabalhe com a gente</a></li>
                    <li class="ame-menu__item"><a class="rose-button" href="https://www.amedigital.com/ame-plus"
                            title="Quero vender com Ame">Quero
                            vender com Ame</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>