<section class="row main-full-section">
    <div class="container main-full-section__container">
        <div class="row row-space-between ame-termos main-full-section__row">
            <div class="grid-6">
                <h1 class="ame-title-dark ame-title-dark--big"><strong>Dúvidas?</strong></h1>
                <h2 class="ame-subtitle-dark">Aqui você encontra as respostas.</h2>
            </div>
            <div class="grid-6 main-full-section__image"><img src="./assets/img/homem-min.png" alt="Homem no app"
                    class="ame-duvidas__featured-image"></div>
        </div>
    </div>
    <div class="grid-12 ame-duvidas__lines"><img src="./assets/img/image-lines-min.png" alt="Linhas"
            class="ame-duvidas__lines__image"></div>
</section>
<section class="row" id="ame-search-section">
    <div class="container">
        <form class="ame-search"><input type="text" class="ame-search__input-text" id="inputText"
                placeholder="Qual a sua dúvida?" value=""><input type="submit" class="ame-search__input-submit" value=""
                id="search"></form>
    </div>
</section>
<section class="row" id="faq">
    <div class="container">
        <div class="row ame-faq">
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="sobre-a-ame">Sobre a Ame</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="sobre-a-conta">Sobre a conta</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="sobre-o-cashback">Sobre o cashback</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="use-ame-para-pagar">Use Ame para pagar</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="lojas-parceiras">Lojas parceiras</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="saldo-e-extrato">Saldo e extrato</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="depositar">Depositar</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="transferencias-entre-contas-ame">Transferências entre contas Ame</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="pagamento-de-boletos">Pagamento de boletos</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="recarga-de-celular">Recarga de celular</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="cupons">Cupons</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="custos-e-tarifas">Custos e tarifas</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="cartao-de-transporte">Cartão de transporte</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="cabify">Cabify</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="gift-card">Gift Card</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="servicos-helpie">Serviços Helpie</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="bike-itau">Bike Itaú</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="games">Games</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="outros-assuntos">Outros assuntos</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12">
                <div class="ame-faq__accordion">
                    <div class="ame-faq__accordion__item"><a class="ame-faq__accordion__item__title"
                            data-url="atendimento">Atendimento</a>
                        <div class="ame-faq__accordion__content">
                            <dl class="ame-faq__accordion__content__text"></dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ame-duvidas-email row">
    <div class="container">
        <div class="ame-duvidas-email__form" id="email-form">
            <h3 class="title-form">Tem outra dúvida e quer falar com a gente?</h3>
            <form class="form-email" id="form-email" [formGroup]="contactForm" (submit)="enviarForm($event)">
                <p class="form-vazio" *ngIf="(fullname.dirty || fullname.touched) && fullname.invalid && fullname.errors">*O campo abaixo é obrigatório</p>
                <input class="form-input" placeholder="Nome completo" maxlength="50" formControlName="fullname"
                [class.form-input-error]="(fullname.dirty || fullname.touched) && fullname.invalid && fullname.errors">
                <p class="form-vazio" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors">*O campo abaixo é obrigatório</p>
                <input class="form-input" [class.form-input-error]="matcher" placeholder="E-mail" formControlName="email"
                [class.form-input-error]="(email.dirty || email.touched) && email.invalid && email.errors">
                <p class="form-vazio" *ngIf="(document.dirty || document.touched) && document.invalid && document.errors">*O campo abaixo é obrigatório</p>
                <input class="form-input" placeholder="CPF/CNPJ" formControlName="document" mask="{{ documentMask }}" (keyup)="switchDocumentMask(document.value)"
                [class.form-input-error]="(document.dirty || document.touched) && document.invalid && document.errors">

                <p class="form-vazio" *ngIf="(classification.dirty || classification.touched) && classification.invalid && classification.errors">
                    *O campo abaixo é obrigatório
                </p>
                <select class="form-input form-select form-select--classificacao" formControlName="classification" (change)="changeClassification($event)"
                [class.form-input-error]="(classification.dirty || classification.touched) && classification.invalid && classification.errors">
                    <option value="">Escolha a classificação</option>
                    <option value="1">Cadastro</option>
                    <option value="2">Pagamento</option>
                    <option value="3">Cashback</option>
                    <option value="4">Saldo</option>
                    <option value="5">Estorno</option>
                    <option value="6">Geral</option>
                </select>
                <p class="form-vazio" *ngIf="(subject.dirty || subject.touched) && subject.invalid && subject.errors">
                    *O campo abaixo é obrigatório
                </p>
                <select class="form-input form-select form-select--assunto" formControlName="subject"
                [class.form-input-error]="(subject.dirty || subject.touched) && subject.invalid && subject.errors">
                    <option value="">Escolha o assunto</option>
                    <option *ngFor="let subject of subjectList" [value]="subject.value">{{ subject.name }}</option>
                </select>

                <p class="form-label title-form">Conte-nos como podemos ajudar</p>
                <p class="form-vazio" *ngIf="(message.dirty || message.touched) && message.invalid && message.errors">
                    *O campo abaixo é obrigatório
                </p>
                <textarea class="form-input form-text form-input--full-border" type="text" rows="7" formControlName="message"
                [class.form-input-error]="(message.dirty || message.touched) && message.invalid && message.errors"></textarea>
                <button class="form-button form-button--enviar-email" type="submit" [disabled]="!contactForm.valid"
                [class.disabled]="!contactForm.valid">Enviar e-mail</button>
            </form>
        </div>
    </div>
</section>