<div class="target-link" id="lojas-parceiras"></div>
<div class="ame-parceiros__image--big"></div>

<div class="container ame-parceiros__container">
    <div class="row">
        <div class="grid-6"><img src="./assets/img/print-americanas-min.jpg" alt="Logo Americanas"
                class="ame-parceiros__image"></div>
        <div class="grid-6 ame-parceiros__content p-l-5">
            <h1 class="ame-title-light">Nossos parceiros</h1>
            <h2 class="ame-subtitle-light">Americanas.com, Shoptime e Submarino já são nossas lojas parceiras.</h2>
            <div class="row">
                <div class="grid-8"><a
                        href="https://www.americanas.com.br/hotsite/amedigital?epar=pm_cv_tr_ad_ame_hotsite_acom_1707"
                        target="_blank"><img src="./assets/img/logo-americanas-min.png" alt="Logo Americanas"
                            class="ame-parceiros__icone"></a><a
                        href="https://www.shoptime.com.br/landingpage/amedigital?epar=pm_cv_tr_ad_ame_hotsite_shop_1707"
                        target="_blank"><img src="./assets/img/logo-shoptime-min.png" alt="Logo Shoptime"
                            class="ame-parceiros__icone"></a><a
                        href="https://www.submarino.com.br/landingpage/amedigital?epar=pm_cv_tr_ad_ame_hotsite_suba_1707"
                        target="_blank"><img src="./assets/img/logo-submarino-min.png" alt="Logo Submarino"
                            class="ame-parceiros__icone ame-parceiros__icone--submarino"></a><a
                        href="https://www.amedigital.com/pergunta?q=Em%20quais%20lojas%20posso%20pagar%20usando%20o%20aplicativo%20da%20Ame%20Digital?&amp;p=lojas-parceiras/em-quais-lojas-posso-pagar-usando-o-aplicativo-da-ame-digital"
                        target="_blank"><img src="./assets/img/lasa.png" alt="Logo Lojas Americanas"
                            class="ame-parceiros__icone ame-parceiros__icone--submarino"></a><a
                        href="https://www.soubarato.com.br?epar=pm_cv_tr_ad_ame_hotsite_souba_1707" target="_blank"><img
                            src="./assets/img/logo-sou-barato-min.png" alt="Sou Barato"
                            class="ame-parceiros__icone ame-parceiros__icone--submarino"></a></div>
            </div>
        </div>
    </div>

</div>