<div class="target-link" id="use-ame"></div>
<div class="container">
    <div class="row ame-use-ame">
        <div class="grid-12 ame-use-ame__title">#UseAme</div>
        <div class="grid-12 ame-use-ame__subtitle">É super fácil e seguro usar a Ame para fazer transações.</div>
        <div class="row row-space-between ame-use-ame__block ">
            <div class="grid-6"><img src="./assets/img/icone-criar-conta-min.png" alt="Transações aplicativo"
                    class="ame-use-ame__icone">
                <h1 class="ame-title-dark">Como criar sua conta</h1>
                <p class="ame-use-ame__paragraph">Baixe o app Ame Digital. </p>
                <p class="ame-use-ame__paragraph">Com poucos dados você já cria a sua conta. </p>
                <p class="ame-use-ame__paragraph">E digitalizando, você cadastra seu cartão. </p>
                <p class="ame-use-ame__paragraph">Prontinho, você já tem uma conta Ame. &lt;3 </p>
            </div>
            <div class="grid-5 ame-use-ame__video-container">
                <div class="ame-use-ame__video-content">
                    <div class="LazyLoad ame-video ame-use-ame__video-border">
                        <iframe id="c8O5VoceM0c" class="ame-video__iframe" frameborder="0" allowfullscreen=""
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            title="YouTube video player" width="100%" height="100%"
                            src="https://www.youtube.com/embed/c8O5VoceM0c?autoplay=1&amp;amp;rel=0&amp;amp;enablejsapi=1&amp;amp;widgetid=1"></iframe>
                    </div>
                </div>
                <!-- <div class="ame-use-ame__video-loading">
                    <div class="ame-use-ame__video-loading--ring">
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-1"></div>
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-2"></div>
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-3"></div>
                        <div class="ame-use-ame__video-loading--ring-div"></div>
                    </div>
                </div> -->
                <img src="./assets/img/tela-vazia-min.png" alt="Transações aplicativo" class="ame-use-ame__image">
            </div>
        </div>
        <div class="row row-space-between ame-use-ame__block ame-use-ame__row-reverse">
            <div class="grid-6"><img src="./assets/img/mao-qr-code-min.png" alt="Transações aplicativo"
                    class="ame-use-ame__icone">
                <h1 class="ame-title-dark">Como pagar suas compras</h1>
                <p class="ame-use-ame__paragraph ame-use-ame__paragraph__inline">Escolha Ame como forma de pagamento nas
                    lojas parceiras. </p>
                <p class="ame-use-ame__paragraph ame-use-ame__paragraph__inline">Aponte seu celular para o QR Code que
                    vai
                    aparecer na tela. </p>
                <p class="ame-use-ame__paragraph">É pa-pum. Já está pago. ;) </p>
            </div>
            <div class="grid-5 ame-use-ame__video-container">
                <div class="ame-use-ame__video-content">
                    <div class="LazyLoad ame-video ame-use-ame__video-border">
                        <iframe id="UkpWqmJIIlM" class="ame-video__iframe" frameborder="0" allowfullscreen=""
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            title="YouTube video player" width="100%" height="100%"
                            src="https://www.youtube.com/embed/UkpWqmJIIlM?autoplay=1&amp;amp;rel=0&amp;amp;enablejsapi=1&amp;amp;widgetid=2"></iframe>
                    </div>
                </div>
                <!-- <div class="ame-use-ame__video-loading">
                    <div class="ame-use-ame__video-loading--ring">
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-1"></div>
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-2"></div>
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-3"></div>
                        <div class="ame-use-ame__video-loading--ring-div"></div>
                    </div>
                </div> -->
                <img src="./assets/img/tela-vazia-min.png" alt="Transações aplicativo" class="ame-use-ame__image">
            </div>
        </div>
        <div class="row row-space-between ame-use-ame__block ">
            <div class="grid-6"><img src="./assets/img/transferencia-min.png" alt="Transações aplicativo"
                    class="ame-use-ame__icone">
                <h1 class="ame-title-dark">Como fazer transferências</h1>
                <p class="ame-use-ame__paragraph ame-use-ame__paragraph__inline">Para receber: gere um Qr Code com o
                    valor
                    que tem para receber. </p>
                <p class="ame-use-ame__paragraph ame-use-ame__paragraph__inline">Quem for te pagar só vai precisar
                    apontar
                    o celular para o seu. Feito! </p>
                <p class="ame-use-ame__paragraph break-line">Para transferir: digite o valor que deve ser transferido.
                </p>
                <p class="ame-use-ame__paragraph">Escolha se será por saldo ou cartão. </p>
                <p class="ame-use-ame__paragraph">E selecione por contato para quem você vai enviar. </p>
                <p class="ame-use-ame__paragraph">Resolvido, dívida paga!</p>
            </div>
            <div class="grid-5 ame-use-ame__video-container">
                <div class="ame-use-ame__video-content">
                    <div class="LazyLoad ame-video ame-use-ame__video-border">
                        <iframe id="FLcvmvN6bQI" class="ame-video__iframe" frameborder="0" allowfullscreen=""
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            title="YouTube video player" width="100%" height="100%"
                            src="https://www.youtube.com/embed/FLcvmvN6bQI?autoplay=1&amp;amp;rel=0&amp;amp;enablejsapi=1&amp;amp;widgetid=3"></iframe>
                    </div>
                </div>
                <!-- <div class="ame-use-ame__video-loading">
                    <div class="ame-use-ame__video-loading--ring">
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-1"></div>
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-2"></div>
                        <div class="ame-use-ame__video-loading--ring-div ame-use-ame__video-loading--ring-div-3"></div>
                        <div class="ame-use-ame__video-loading--ring-div"></div>
                    </div>
                </div> -->
                <img src="./assets/img/tela-vazia-min.png" alt="Transações aplicativo" class="ame-use-ame__image">
            </div>
        </div>
    </div>
</div>