<div class="row ame-somos-ame__row">
    <div class="grid-6">
        <h1 class="ame-title-dark">Oi, somos a<strong> Ame.</strong></h1>
        <h2 class="ame-subtitle-dark ame-subtitle-dark--main">A nova <strong>conta digital</strong> que vai
            ganhar
            seu coração.</h2>
        <div class="row">
            <h2 class="grid-12 ame-subtitle-dark">Baixe o app.</h2>
            <div class="row row-space-between row-with-margin ame-download-app">
                <div class="grid-5"><img src="./assets/img/qrcode-min.png" alt="QR Code"
                        class="row ame-download-app__logo-qrcode"></div>
                <div class="grid-7 ame-download-app__items"><a class="ame-download-app__link-google-play"
                        href="http://usea.me/downloadapp" target="_blank"><img src="./assets/img/google-play-min.png"
                            alt="Google Play" class="ame-download-app__logo-google-play"></a><a
                        class="ame-download-app__link-app-store" href="http://usea.me/downloadapp" target="_blank"><img
                            src="./assets/img/app-store-min.png" alt="App Store"
                            class="ame-download-app__logo-app-store"></a></div>
            </div>
        </div>
    </div>
    <div class="grid-6 ame-somos-ame__image"><img src="./assets/img/mulher-min.png" alt="Mulher no app"
            class="ame-featured-image"></div>
</div>