<div class="target-link" id="quem-somos"></div>
<div class="container">
    <div class="row row-space-between ame-pague-ame-ganhe">
        <div class="grid-5"><img src="./assets/img/celular-pague-ame-min.png" alt="Transações aplicativo"
                class="ame-pague-ame-ganhe__image"></div>
        <div class="grid-6">
            <h1 class="ame-title-light"><strong>Pague. Ame. Ganhe.</strong></h1>
            <h2 class="ame-subtitle-light">Com a sua conta digital você pode:</h2>
            <ul class="ame-pague-ame-ganhe__list">
                <li class="ame-subtitle-light ame-pague-ame-ganhe__list__item"><strong>Receber</strong> e
                    <strong>transferir</strong> saldo para outras <strong>contas Ame</strong></li>
                <li class="ame-subtitle-light ame-pague-ame-ganhe__list__item"><strong>Pagar suas compras </strong>
                    com um
                    clique</li>
                <li class="ame-subtitle-light ame-pague-ame-ganhe__list__item"><strong>Ganhar cashback </strong>nas
                    lojas
                    parceiras</li>
            </ul>
        </div>
    </div>
</div>